<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <a href="student/create/">Student creation form</a>
        <br>
        <a href="group/create/">Group creation form</a>
        <br>
        <a href="teacher/create/">Teacher creation form</a>
    </div>
    <div class="container">
        <a4> Group table</a4>
        <table class="table">
            <tr>
                <th>Group name</th>
                <th>Number of students in the group</th>
                <th>Average age of students in the group</th>
                <th>Max student age in the group</th>
                <th>Min student age in the group</th>
                <th>Teacher name</th>
            </tr>
            {% for group in groups %}
                <tr></tr>
                    <td>{{group.name}}</td>
                    <td>{{group.count_student}}</td>
                    <td>{{group.avg_age_student}}</td>
                    <td>{{group.min_age_student}}</td>
                    <td>{{group.max_age_student}}</td>
                    <td>{{group.teachers.all.0.name}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>